1.Create a string and print it

In [3]:
name='Harshit  Mishra'
age="21"
print(name , age)

Harshit  Mishra 21

2.Take a string input and print their lenght

In [4]:
s=str(input('enter a string'))
print(len(s))

enter a stringytyttrctrxctg
13

3.Print the last word of the string "Python is great" using sclices

In [5]:
word='Python is great'
word[::-5]

't o'

4.print each word in different line of string python is everywhere

In [6]:
word='python is everywhere'
for word in word.split():
  print(word)

python
is
everywhere

5.Print the string "Hello word" in reverse

In [7]:
word="hello word!"
word[ ::-1]

'!drow olleh'

6.Convert the string **How are you** upper case

In [8]:
word="how are you"
word.upper()

'HOW ARE YOU'

7-convert the string How Is It Going? in lower case

In [9]:
word="How Is It Going"
word.lower()

'how is it going'

8.Join the folowing list by spaces () and print result
- words=['python','is','very','easy','to','learn']

In [10]:
words=['python','is','very','easy','to','learn']
words=' '.join(words)
print(words)

python is very easy to learn

9.Print a multiline string using a single print

In [11]:
w =("this is an example of"
"multiline string which is"
"not easy to learn but"
"you can easily do by practise")
print(w)

this is an example ofmultiline string which isnot easy to learn butyou can easily do by practise

10.print this string to move to newline '\n' is used (results should look exactly look like the provided string)

In [14]:
word="to move  to newline \n is used"
print(repr(word))

'to move  to newline \n is used'

11.PRINT a variable with some text using a single print function,output should look like the following 
- the variable is 15

In [15]:
v="the variable is"
variable=15
print("variable with some text is ::::::",v, variable)

variable with some text is :::::: the variable is 15

12.Concatenate the following string and print the result
- s1="python"
- s2="is"
- s3="great"

In [16]:
s1 ="python "
s2="is "
s3="great"
print(s1  +  s2  +  s3)

python is great

13.print # 20 times wiht out using a loop

In [17]:
print("# " * 20)

# # # # # # # # # # # # # # # # # # # #

14.Print  numbers from 1 to 9 each on a seprate line followed by a dot 
output should look like
- ex
- 1.
- 2.
- 3.

In [18]:
for i in range(10):
   print(i,".")

0 .
1 .
2 .
3 .
4 .
5 .
6 .
7 .
8 .
9 .

15.ask a user to input a sentence and print each word on a different line

In [20]:
i=input("enter words")
for i in i.split():
   print(i)

enter wordsguy jhyguy jyguy
guy
jhyguy
jyguy

16.Ask a user to input a string and check if the string ends up with "?"

In [21]:
s= str(input("enter a string"))
print(s.endswith("?"))

enter a stringyrdydyt?
True

17.Ask user to input a stirng and print how many times "e' appered in the string

In [22]:
i=str(input("enter a string"))
print("e appears" , i.count("e"))

enter a stringtydytdy67ey55
e appears 1

18.Check if the user input is a number

In [23]:
i=input("enter anything")
if i.isnumeric():
  i=int(i)
  print("great success")
else:
  print("wrong")

enter anythingdrrydy
wrong

19.Remove the extra spaces in begining and in the end of the foolowing sting
- text= '      this is not a good string       '

In [24]:
i='    this is not a good string      '
print(i.strip())

this is not a good string

20.Ask user to input string ,print found if any of the character is uppercase

In [25]:
i=str(input("enter string"))
print("found",i.isupper())

enter stringgufufitguL
found False

21.extract name from the following string and store them in a list
- names=["joe",david,mark,tom,robert]

In [26]:
i="joe,david,mark,tom,robert"
print(i.split())

['joe,david,mark,tom,robert']

22. the following string add eye in the end of every word and print the result
- this is some text

In [27]:
s="this is some text"
print(s.join("aye"))

athis is some textythis is some texte

23.ask a user to enter a string and check if the string contains fyi

In [28]:
i=str(input("enter string"))
s='fyi'
if s in  i:
  print("found")
else:
  print("Not found")

enter stringytfjytfuy
Not found

24.remove all the special character and a number from the foolowing stirng
- text="2#$@#$34534FDFB#%5"

In [29]:
s="%34@!'*_*!68#&4"
i="%p34@y!'*_*!t68h#&on4"
for char in i:
   if char not in s:
     print(char,end='')

python

25.Calculate the avg word lenght of the folowing paragraph
  "this is a paragraph whic is written just for the purpoe of providig content to let the average word length to be clculated

In [30]:
x="this is a paragraph which is written just for the purpose of providing content to let the average word length to be calculated"
i=x.split()
avg=sum(len(i) for i in i) / len(word)
print(avg)

3.586206896551724